@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
eef4ed
8da9c4
134074
13315c
0b2545
*/

/**
121212 DARKEST
181818 DARK
404040 LIGHT GREY
282828 GREY
FFFFFF LIGHTER
B3B3B3 LIGHTEST
*/

/* * {
  font-family: "Bitter", "Open-sans";
} */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
* {
  padding: 0;
  margin: 0;
}
::selection {
  color: #cc0479;
}
